<a href="https://colab.research.google.com/github/harrymkwn/InfluenceAnalysis/blob/master/convert_to_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Initialization

In [1]:
import pandas as pd
import re

In [2]:
from google.colab import  drive

drive.mount('/content/drive')

Mounted at /content/drive

#Import data from Excel File

In [3]:
def seprate_data(df):
  ### Extract data from list of data
  tweets = []
  labels = []
  for i in df:
    demo = i
    demo = demo.replace('anger','')
    demo= re.sub(r"[0-9]{5}",'',demo).lstrip()
    result = re.findall(r'\d+\.\d+', demo)[0]
    demo = demo.replace(result,'')
    tweets.append(demo.rstrip())
    labels.append(float(result))

  return tweets,labels

In [4]:
def data_import(typeoffeel):
  dataset = pd.read_excel(typeoffeel+'-train.xlsx',header=None)
  df = dataset.values.tolist()
  temp = []
  for i in df:
    temp.append(i[0])

  df = temp
  tweet,label = seprate_data(df)
  category = list(((typeoffeel+" ")*len(label)).split(" ")[:-1])
  return tweet,label,category

In [6]:
listofdata = ['anger','fear','joy','sadness']
tweets = []
category = []
labels = []
for i in listofdata:
  tweet , label, cat = data_import(i)
  tweets += tweet
  labels += label
  category += cat

#Data Frame

In [7]:
data_dictionary = {'Tweets': tweets,'Labels': labels,'Category': category }

In [8]:
df_train  = pd.DataFrame(data_dictionary)
df_train.head()

                                              Tweets  Labels Category
0  How the fu*k! Who the heck! moved my fridge!.....   0.938    anger
1  So my Indian Uber driver just called someone t...   0.896    anger
2  @DPD_UK I asked for my parcel to be delivered ...   0.896    anger
3  so ef whichever butt wipe pulled the fire alar...   0.896    anger
4  Don't join @BTCare they put the phone down on ...   0.896    anger

#Data Frame to csv

In [9]:
def convert_main():
  df_train.to_csv('/content/drive/My Drive/InfluenceAnalysis/Data/Train/all_train_csv.csv',index=False)

In [10]:
def convert_all():

  listofdata = ['anger','fear','joy','sadness']

  for i in listofdata:
    tweet , label, cat = data_import(i)
    data_dictionary = {'Tweets' : tweet , 'Labels' : label}
    df_train_category = pd.DataFrame(data_dictionary)
    df_train_category.to_csv('/content/drive/My Drive/InfluenceAnalysis/Data/Train/' + i + '_train.csv',index=False)
    # print(df_train.head())

In [11]:
def data_frame_to_csv():
  convert_main()
  convert_all()

In [12]:
data_frame_to_csv()

In [ ]:
drive.flush_and_unmount()