<a href="https://colab.research.google.com/github/harrymkwn/InfluenceAnalysis/blob/master/Glove_LSTM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Initialization

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
import re
import string
from scipy import spatial
from sklearn.utils import shuffle 
from sklearn.model_selection import KFold

In [2]:
from google.colab import  drive

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#Data Import

In [3]:
df_train = pd.read_csv('/content/drive/My Drive/InfluenceAnalysis/Data/Train/clean_all_train.csv')

df_train.head()

   Unnamed: 0  ... Category
0           0  ...    anger
1           1  ...    anger
2           2  ...    anger
3           3  ...    anger
4           4  ...    anger

[5 rows x 4 columns]

In [4]:
def find_length(tweet):

  return len(tweet.split())

In [5]:
def remove_numbers(tweet):
  tweet = re.sub('[0-9]+','',tweet)
  return tweet

In [6]:
hash={"anger":[1,0,0,0],"sadness":[0,1,0,0],"joy":[0,0,1,0],"fear":[0,0,0,1]}
def number_category(category):
  return hash[category]

In [7]:
df_train['Encoding'] = df_train['Category'].apply(lambda category : number_category(category))
df_train['Length'] = df_train['Tweets'].apply(lambda tweet : find_length(tweet))
df_train['Tweets'] = df_train['Tweets'].apply(lambda tweet : remove_numbers(tweet))

maxLengthOfTweet = df_train['Length'].max()

#shuffal data

In [8]:
def shuffle_efficiently(df_train):
  df_train = shuffle(df_train)
  df_train = shuffle(df_train)
  df_train = shuffle(df_train)
  df_train = shuffle(df_train)
  df_train = shuffle(df_train)
  df_train = shuffle(df_train)
  df_train = shuffle(df_train)
  df_train = shuffle(df_train)
  df_train = shuffle(df_train)
  df_train = shuffle(df_train)
  df_train = shuffle(df_train)
  df_train.reset_index(drop=True, inplace=True)

  df_train.head(1000)

  return df_train

In [9]:
df_train = shuffle_efficiently(df_train)

df_train.head()

   Unnamed: 0  ... Length
0        3221  ...     28
1        2216  ...     11
2         189  ...     10
3        2526  ...     22
4         777  ...     14

[5 rows x 6 columns]

#using glove word embadding

In [10]:
embeddings_dict = {}
with open("/content/drive/My Drive/InfluenceAnalysis/glove/glove.twitter.27B.25d.txt", 'r', encoding="utf-8") as f:
  for line in f:
      values = line.split()
      word = values[0]
      vector = np.asarray(values[1:], "float32")
      embeddings_dict[word] = vector

In [11]:
def find_closest_embeddings(embedding):
    return sorted(embeddings_dict.keys(), key=lambda word: spatial.distance.euclidean(embeddings_dict[word], embedding))

#Preprocess Data

In [12]:
def tockanizer(tweet):
  tweet = df_train['Tweets'][ind].split()
  return tweet,len(tweet)

In [ ]:
tweetslist = []
for ind in df_train.index:
  tweet,length = tockanizer(df_train['Tweets'][ind])
  tweet.extend('x'*(maxLengthOfTweet - length))
  tweetslist.append(tweet)



print(tweetslist)

In [14]:
tweetseq= [];

for tweet in tweetslist:
  temp = []
  for word in tweet:
    if word != "x" and isinstance(word , str):
      try:
        temp.append(embeddings_dict[word.lower()])
      except KeyError:
        temp.append([0]*25)
    else:
      temp.append([0]*25)
    
  tweetseq.append(temp)

In [ ]:
tens=tf.Variable(tweetseq)
print(tens)

In [ ]:
labels = list(df_train['Encoding'])
labels=tf.convert_to_tensor(labels)
print(labels)

In [17]:
model = tf.keras.Sequential()
model.add(tf.keras.layers.LSTM(50,dropout=0.1,recurrent_dropout=0.1))
model.add(tf.keras.layers.Dropout(0.2))
model.add(tf.keras.layers.Dense(4, activation='softmax'))

model.compile(loss='categorical_crossentropy',optimizer='adam', 
                           metrics=['accuracy'])
model.build((None,maxLengthOfTweet,25))

In [20]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm (LSTM)                  (None, 50)                15200
_________________________________________________________________
dropout (Dropout)            (None, 50)                0
_________________________________________________________________
dense (Dense)                (None, 4)                 204
=================================================================
Total params: 15,404
Trainable params: 15,404
Non-trainable params: 0
_________________________________________________________________

In [ ]:
history = model.fit(tweetseq,labels,
                  validation_split=0.2, epochs=100)