<a href="https://colab.research.google.com/github/harrymkwn/InfluenceAnalysis/blob/master/spelling_correction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Initialization

In [2]:
import nltk
import pandas as pd

In [3]:
from nltk.corpus import words
nltk.download('words')

[nltk_data] Downloading package words to /root/nltk_data...
[nltk_data]   Unzipping corpora/words.zip.

True

In [4]:
from nltk.metrics.distance import (edit_distance,jaccard_distance)
from nltk.util import ngrams

In [11]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [5]:
correct_spellings = words.words()
spelling_series = pd.Series(correct_spellings)
spelling_series

0                 A
1                 a
2                aa
3               aal
4             aalii
            ...
236731       yellow
236732          yes
236733    yesterday
236734          you
236735        young
Length: 236736, dtype: object

In [6]:
dictionary = {}

for word in correct_spellings:
  dictionary[word] = 1;

#Jaccard  Distance

In [42]:
def jaccard(word,gram_number):
  spellings = spelling_series[spelling_series.str.startswith(word[:2])]

  distances = []
  if len(word) >=3: 
    distances = [(jaccard_distance(set(ngrams(word,3)),set(ngrams(x,3))),x) for x in spellings]
  elif len(word) == 2:
    distances = [(jaccard_distance(set(ngrams(word,2)),set(ngrams(x,2))),x) for x in spellings]
  
  closet = ("0",word)
  if len(distances)!=0:
    closet = min(distances)
  return closet[1]

In [38]:
def correct_spelling(word):
  return str(jaccard(word,3))

In [40]:
def correct_spelling_tweet(tweet):

  words = tweet.split()
  for i in range(len(words)):
    words[i] = correct_spelling(words[i])

  return " ".join(words)

In [14]:
train_data = pd.read_csv('/content/gdrive/MyDrive/InfluenceAnalysis/Data/Tweets_clean_data.csv')

In [15]:
train_data.head()

      Id                                              Tweet Emotion  Score
0  10000  How the fuck   Who the heck   moved my fridge ...   anger  0.938
1  10001  So my Indian Uber driver just called someone t...   anger  0.896
2  10002   UK I asked for my parcel to be delivered to a...   anger  0.896
3  10003  so ef whichever butt wipe pulled the fire alar...   anger  0.896
4  10004  do not join  they put the phone down on you ta...   anger  0.896

In [35]:
df = pd.read_csv('/content/gdrive/MyDrive/InfluenceAnalysis/Newdata/train_clean.csv')[:10]

In [36]:
df.head()

                                              tweets  emotion
0  tiffanylu i know i wa listenin to bad habit ea...        0
1  layin n bed with a headach ughhwaitin on your ...        2
2                        funer ceremonygloomi friday        2
3                  want to hang out with friend soon        1
4  dannycastillo we want to trade with someon who...        0

In [19]:
a = df.iloc[4]['tweets']

In [20]:
print(a)

dannycastillo we want to trade with someon who ha houston ticket but no one will

In [34]:
correct_spelling_tweet(a)

'danner we want to trade with someone who ha housty ticket but no one will'

In [43]:
df['tweets'] = df['tweets'].apply(lambda x : correct_spelling_tweet(x))

In [44]:
df.head()

                                              tweets  emotion
0  tiffany i know i wa listening to bad habit ear...        0
1      laying n bed with a headache ugh on your call        2
2                         funeral ceremony fridstool        2
3                 want to hange out with friend soon        1
4  danner we want to trade with someone who ha ho...        0