<a href="https://colab.research.google.com/github/harrymkwn/InfluenceAnalysis/blob/master/TEC_acquisition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd
import re

In [41]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [32]:
df = pd.read_csv('/content/Jan9-2012-tweets-clean.txt', sep = '\t',error_bad_lines=False,header=None,names=['id','tweet','label'])

In [33]:
df

                        id  ...        label
0      145353048817012736:  ...  :: surprise
1      144279638024257536:  ...   :: sadness
2      140499585285111809:  ...       :: joy
3      145207578270507009:  ...       :: joy
4      139502146390470656:  ...   :: disgust
...                    ...  ...          ...
21046  146254676558495745:  ...       :: joy
21047  141661025014521856:  ...       :: joy
21048  143061444525686784:  ...       :: joy
21049  143068383678697472:  ...       :: joy
21050  138424500801900545:  ...     :: anger

[21051 rows x 3 columns]

In [34]:
df.drop(['id'],axis=1,inplace=True)

In [35]:
df

                                                   tweet        label
0      Thinks that @melbahughes had a great 50th birt...  :: surprise
1      Como una expresión tan simple, una sola oració...   :: sadness
2      the moment when you get another follower and y...       :: joy
3      Be the greatest dancer of your life! practice ...       :: joy
4      eww.. my moms starting to make her annual rum ...   :: disgust
...                                                  ...          ...
21046  @TheBodyShopUK Knowing my dissertation will be...       :: joy
21047  hospital tomorrow morning, strapped with wires...       :: joy
21048  Work is soooo slow, ready to have a great satu...       :: joy
21049  You realize that by choosing joy every single ...       :: joy
21050  &quot;Use to throw them into disarray.&quot;-M...     :: anger

[21051 rows x 2 columns]

In [39]:
def remov(x):
  x = str(x)

  x = re.sub(r"::", "", x)

  return x.strip()

df['label'] = df['label'].apply(lambda x : remov(x))

In [40]:
df

                                                   tweet     label
0      Thinks that @melbahughes had a great 50th birt...  surprise
1      Como una expresión tan simple, una sola oració...   sadness
2      the moment when you get another follower and y...       joy
3      Be the greatest dancer of your life! practice ...       joy
4      eww.. my moms starting to make her annual rum ...   disgust
...                                                  ...       ...
21046  @TheBodyShopUK Knowing my dissertation will be...       joy
21047  hospital tomorrow morning, strapped with wires...       joy
21048  Work is soooo slow, ready to have a great satu...       joy
21049  You realize that by choosing joy every single ...       joy
21050  &quot;Use to throw them into disarray.&quot;-M...     anger

[21051 rows x 2 columns]

In [54]:
df_age_negative = df[ df['label'] == "out of life"] # Step 1
df = df.drop(df_age_negative.index, axis=0)

In [55]:
df['label'].value_counts()

joy         8239
surprise    3848
sadness     3830
fear        2814
anger       1555
disgust      761
Name: label, dtype: int64

In [56]:
df.to_csv('/content/gdrive/MyDrive/InfluenceAnalysis/TEC/tec.csv',index=None)